<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bryan Top</title>
    <link rel="stylesheet" href="./mainPage/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body >
    <main>
        <header id="showcase">
            <h1>Hi, My name is Bryan. Im a gamer by heart and i love to <span id="anim" data-wait='3000' data-words='["Program!", "Design!", "Develop!" ]'></span></h1>
        </header>
        <section id="aboutSection">
            <h2>About</h2>
            <p>I grew up loving video games and computers. I wanted to create my own so when I decided what I wanted to be I said a game designer. Well problem is that there is alot of writing involved with that and I hate writing. But you know what, im really good at math. Isnt game programing have lots of maths. Well thats how i had decided to start coding.</p>
        </section>

        <section id="projectSection" class="container-fluid">
                <h2>Projects</h2>
                <div id="projectArea" class="row">
                </div>
        </section>

        <footer id="contact">
            <p>Email Me At bryantop1326@gmail.com</p>
        </footer>

    </main>
    <script src="mainPage/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>