<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/calculator/css/style.css">
    </head>
    <body>
        <div id="calculator">
                <h1 id="display">
                    0
                </h1>
            <div id="keyboard">  
                <div class="calculatorRow">
                    <div>
                        <h1 id="clear"  class="numBtn" data-operation="clear">
                            C
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-operation="percent">
                            %
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn orange" data-operation="divide">
                            &#247
                        </h1>
                    </div>
                </div> 
                <div class="calculatorRow">
                    <div>
                        <h1  class="numBtn" data-num="1">
                            1
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num="2">
                            2
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num="3">
                            3
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn orange" data-operation="add">
                            +
                        </h1>
                    </div>
                </div>
                <div class="calculatorRow">
                    <div>
                        <h1  class="numBtn" data-num="4">
                            4
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num="5">
                            5
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num="6">
                            6
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn orange" data-operation="subtract">
                            -
                        </h1>
                    </div>
                </div>
                <div class="calculatorRow">
                    <div>
                        <h1  class="numBtn" data-num="7">
                            7
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num="8">
                            8
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num="9">
                            9
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn orange" data-operation="multiply">
                            *
                        </h1>
                    </div>
                </div>
                <div class="calculatorRow">
                    <div>
                        <h1 id="zero" data-num="0">
                            0
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn" data-num=".">
                            .
                        </h1>
                    </div>
                    <div>
                        <h1  class="numBtn orange" id="equal" data-operation="equal">
                            =
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>